*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size:14px;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
.clear-float{
    clear: both;
    line-height: 0;
    overflow: hidden;
}
.clearfix{zoom:1;}
.clearfix:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}